html {
  background: #ddd;
}

body {
  background: #fff;
  width: 960px;
  margin: 0 auto;
  padding: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
  margin: 0 0 1em;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: auto;
}

#nav ul li {
  margin: 0 20px 0 0;
  float: left;
}

#content {
  padding: 20px;
}

fieldset {
  border: 1px solid #ccc;
  margin: 0 0 1em;
}

legend {
  color: #999;
}

form label {
  display: block;
}

form .checkbox label,
form .checkboxes label {
  display: inline;
}

form input[type=text] {
  width: 300px;
}

fieldset.inventory table {
  width: 100%;
}

fieldset.inventory td,
fieldset.inventory th {
  padding: 5px;
  width: 20%;
}

fieldset.inventory td {
  border-top: 1px solid #ddd;
}

fieldset.inventory tr:nth-child(odd) td {
  background: #eee;
}

fieldset.inventory tr.add td {
  background-color: #dbffda;
}

fieldset.inventory tr.blank td {
  background: #fff;
  height: 5px;
  font-size: 1px;
}

fieldset.inventory tr td.remove {
  font-size: 10px;
}

fieldset.inventory input {
  width: 97%;
}

fieldset.inventory select {
  width: 100%;
}

.variant {
  background: #f0f0f0;
  padding: 10px;
  margin: 0 0 20px;
  clear: both;
  overflow: auto;
}

.variant p {
  float: left;
  margin: 0 10px 0 0;
  width: 160px;
}

.variant p input,
.variant p select {
  width: 95%;
}

.variant p em {
  font-size: 10px;
  margin: 0;
  color: #999;
}